h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input{
height: 35px;
border-radius: 3px;
width: 100%;
padding-left: 10px;
}

.items-container{
    text-align: left;
}

.kg-row{
    margin: 10px 5px;
}

.kg-button{
    min-width: 80px;
}